@import "tailwindcss";

@theme {
  --font-sans: ui-sans-serif, system-ui, sans-serif;
}

body {
  font-family: ui-sans-serif, system-ui, sans-serif;
  color: #1f2937;
}

.root {
  isolation: isolate;
}
